
body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #dfdfdf;
}

.container{
padding: 20px;
width: 300px;
box-sizing: auto;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;}

form {
	display: inline-block;
}

input{
	padding: 4px 15px 4px 5px;
	border-radius: 4px;
	border-width: 1px;
}

#button{
display: inline-block;
background-color:rgb(74, 192, 167);
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 10px;}

ol li {
	padding: 5px; 
	color:#000;
	border-radius: 5px;
	margin: 5px 0px;
}
ol li:nth-child(even){background: rgb(184, 184, 184);}

ol li:nth-child(odd){background: rgb(227, 227, 227); }

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
  opacity: 90%;
 }

.delete {
	display: none;
}

li > deleteButton {
	background: none;
	border: none;
	float: right;
	color: #323232;
	font-weight: 800;
}